$dark-text: hsl(229, 23%, 23%);
$light-text: hsl(0, 0%, 59%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: $dark-text;
}

.wrapper,
#stats,
#card,
#user-info,
.name-age {
  display: flex;
}

.wrapper {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../images/bg-pattern-top.svg') no-repeat right 50vw bottom
      40vh,
    url('../images/bg-pattern-bottom.svg') no-repeat left 50vw top 40vh;
  background-color: hsl(185, 75%, 39%);
}

#card {
  flex-direction: column;
  height: 374px;
  width: 326px;
  background-color: #fff;
  background-image: url('../images/bg-pattern-card.svg');
  background-size: auto 140px;
  background-repeat: no-repeat;
  border-radius: 15px;

  .user-img {
    height: 96px;
    width: 96px;
    align-self: center;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px #fff; // Adds 5px white border
    margin-top: 92px; // #card background-size height - (.user-img height / 2)
  }

  #user-info {
    .age,
    .location {
      color: $light-text;
      font-weight: 400;
    }
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    .name-age {
      justify-content: space-between;
      width: 135px;
      .age {
        color: $light-text;
      }
    }
    .location {
      font-size: 14px;
      margin-top: 15px;
    }
  }
}

#stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 90px;
  border-top: 1px solid #e8e9ec;
  padding-top: 25px;
}

.stat-category {
  font-size: 10px;
  font-weight: 400;
  color: $light-text;
  letter-spacing: 1px;
}

@media screen and (min-width: 1440px) {
  #card {
    width: 350px;
  }
}
