$dark-text: #2e3349;
$light-text: #6b7082;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../images/bg-pattern-top.svg'),
    url('../images/bg-pattern-bottom.svg');
  background-repeat: no-repeat;
  background-size: 622px 621px;
  background-position: top -310px right 161px, bottom -310px left 161px;
  background-color: #459eac;
}

body,
header,
footer,
#card,
#user-info,
.name-age {
  display: flex;
}

#card {
  flex-direction: column;
  align-self: flex-start;
  margin-top: 116px;
  height: 374px;
  width: 326px;
  background-color: #fff;
  border-radius: 15px;
}

header {
  flex-direction: column;
  align-items: center;
  .card-bg {
    width: 100%;
    height: 140px;
    border-radius: 15px 15px 0 0;
  }
  .user-img {
    height: 96px;
    width: 96px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px #fff;
    margin-top: -48px; // Image height (96px) / 2
  }
}

#user-info {
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 20px;
  flex-grow: 1;
  .name-age {
    justify-content: space-between;
    width: 135px;
    font-size: 18px;
    .name {
      font-weight: 700;
      color: $dark-text;
    }
    .age {
      color: $light-text;
      font-weight: 400;
      color: $light-text;
    }
  }
  .location {
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    color: $light-text;
  }
}

footer {
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 90px;
  font-weight: 700;
  color: $dark-text;
  border-top: 1px solid #e8e9ec;
  padding-top: 25px;
}

.stat-category {
  font-size: 10px;
  font-weight: 400;
  color: $light-text;
  letter-spacing: 1px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}

@media screen and (min-width: 1440px) {
  #card {
    align-self: center;
    margin: 0;
    width: 350px;
  }
  body {
    background-size: 978px 976px;
    background-position: top -480px right 764px, bottom -578px right -231px;
  }
}
