* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2d3248;
}

body {
  justify-content: center;
  height: 100vh;
  background: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-size: 622px 621px;
  background-position: top -310px right 161px, bottom -310px left 161px;
  background-color: #19a2ae;
}

body,
#stats,
#card,
#user-info,
.name-age {
  display: flex;
}

#card {
  flex-direction: column;
  align-self: flex-start;
  margin-top: 116px;
  height: 374px;
  width: 326px;
  background-color: #fff;
  background-image: url("../images/bg-pattern-card.svg");
  background-size: auto 140px;
  background-repeat: no-repeat;
  border-radius: 15px;
}
#card .user-img {
  height: 96px;
  width: 96px;
  align-self: center;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px #fff;
  margin-top: 92px;
}
#card #user-info {
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  margin-top: 20px;
}
#card #user-info .age,
#card #user-info .location {
  color: #969696;
  font-weight: 400;
}
#card #user-info .name-age {
  justify-content: space-between;
  width: 135px;
}
#card #user-info .name-age .age {
  color: #969696;
}
#card #user-info .location {
  font-size: 14px;
  margin-top: 15px;
}

#stats {
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 90px;
  border-top: 1px solid #e8e9ec;
  padding-top: 25px;
}

.stat-category {
  font-size: 10px;
  font-weight: 400;
  color: #969696;
  letter-spacing: 1px;
}

@media screen and (min-width: 1440px) {
  #card {
    align-self: center;
    margin: 0;
    width: 350px;
  }

  body {
    background-size: 978px 976px;
    background-position: top -480px right 764px, bottom -578px right -231px;
  }
}
